@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Choose or add a blook to the collection!</div>
    <div>Working to turn this into a pretty sizable collection for everyone to enjoy!</div>
</div>
